.about-page
  background: url('../images/schechter-geniza.png') no-repeat center center
  background-size: contain
  background-position: top
  width: 100%
  overflow: auto

  /*
  --------------------------------
   */

  section
    background-color: $bisque
    margin-top: 38vw !important
    
  a
    @extend .text-link
  
  .left-column
    max-width: 60%
    
    @media(max-width: 750px)
      max-width: auto
    
  .right-column
    max-width: 35%
    float: right
    
    @media(max-width: 750px)
      max-width: auto
      float: none

  p.text
  ol.text
    @extend .body-font
    @extend .about-page .left-column
  
  .diagram
    img
      width: 100%
      background: #fff
      border: 2px solid $dark-grey
    
    .caption
      display: block
      text-align: center
      text-transform: uppercase

  /*
  --------------------------------
   */

  &__intro
    overflow: auto
    padding: 0 6rem

    hr
      width: 6rem

    h2
      @extend .h2-font
      background-color: $bisque
      font-size: 2.75rem
      margin-top: -2rem
      padding: 2rem 3rem
      position: absolute
    
    nav
      float: right
      
      @media(max-width: 750px)
        float: none
        margin: 5em 0
      
      ul
        list-style: none
        margin: 0
        padding: 0
        
      li
        padding: 0
        margin: 0 0 1em 0
      
      a
        display: block
    
    .content
      margin-top: 3em

  /*
  --------------------------------
   */

  &__team
    background-color: $sand
    padding: 4rem 8rem

    h2
      @extend .h2-font

    hr
      width: 66%

  /*
  --------------------------------
   */

  &__members
    display: flex
    flex-wrap: wrap
    margin: 4rem 0

    img
      max-height: 6rem
      object-fit: cover
      width: 10rem

    hr
      margin: 1rem 0
      width: 4rem

    h3
      @extend .primary-label
      margin-bottom: 0.5rem

    span
      @extend .body-font
      display: block
      font-size: 0.75rem

    > div
      max-width: 33%
      margin: 0 auto

      @media(max-width: 750px)
        max-width: 50%

      @media(max-width: 550px)
        max-width: 100%

      div
        margin: 0 1rem 2rem 1rem

  &__thanks
    padding: 1.5rem 2rem
    text-align: center

    h3
      color: $plum
      font-size: 1.5rem

    span
      @extend .body-font
      display: block
      margin-bottom: 1rem
