.about-page
  background: url('../images/schechter-geniza.png') no-repeat center center
  background-size: contain
  background-position: top
  width: 100%
  overflow: auto

  /*
  --------------------------------
   */

  section
    background-color: $bisque
    margin-top: 38vw !important
    
  a
    @extend .text-link
  
  .left-column
    padding-left: 1rem
    max-width: 60%
    overflow-wrap: break-word
    
    @media(max-width: 750px)
      max-width: none
    
  .right-column
    max-width: 35%
    float: right
    overflow-wrap: break-word
    
    @media(max-width: 750px)
      padding-left: 1rem
      max-width: none
      float: none

  .text
    @extend .body-font
    @extend .about-page .left-column
    font-size: 0.875em
    line-height: 1.875em
  
  .big.text
    font-size: 1em
    
  .small.text
    font-size: 0.6em
  
  .diagram
    margin: 3em 0
    
    img
      width: 100%
      background: #fff
      border: 4px solid $dark-grey
      padding: 1em 4em
    
    .caption
      color: $plum
      font-size: 0.75em
      font-weight: 600
      display: block
      text-align: center
      text-transform: uppercase

  nav
    font-size: 0.9375em
  
  .subsection
    padding: 4rem 6rem
    
    h2
      @extend .h2-font
      padding-left: 1rem
    
    .item
     margin: 4rem 0 
      
    .item h3
      @extend .about-page .left-column
      @extend .primary-label

    hr.small
      width: 4em

    hr.big
      margin: 0 auto
      width: 66%

  /*
  --------------------------------
   */

  &__intro
    overflow: auto
    padding: 0 6rem

    hr
      margin-top: 4rem
      width: 13rem

    h2
      @extend .h2-font
      background-color: $bisque
      font-size: 3.8rem
      margin-top: -2rem
      padding: 0.5em 1.0em 0.5em 0.8em
      position: absolute
    
    nav
      float: right
      
      @media(max-width: 750px)
        float: none
        margin: 5em 0
      
      ul
        list-style: none
        margin: 0
        padding: 0
        
      li
        padding: 0
        margin: 0 0 1em 0
      
      a
        display: block
    
    .content
      margin-top: 1rem

  /*
  --------------------------------
   */
   
  &__research-partners
  &__provenance
    .right-column
      img
        display: block
        width: 12rem
        max-width: 100%rem

  /*
  --------------------------------
   */

  &__image-partners
    background-color: $sand
    padding: 4rem 8rem

    .content
      display: flex
      flex-wrap: wrap
      justify-content: flex-start
      align-items: center
      align-content: center

      .item
        width: 25%
        overflow: hidden
        margin: 2rem

        @media(max-width: 750px)
          width: 100%
          margin: 2rem 0

        img
          display: block
          height: 6rem
          object-fit: contain
          width: 100%
          max-width: 16rem
    
  /*
  --------------------------------
   */
  &__team
    background-color: $sand
    padding: 4rem 8rem

  /*
  --------------------------------
   */

  &__members
    display: flex
    flex-wrap: wrap
    margin: 4rem 0

    img
      max-height: 6rem
      object-fit: cover
      width: 10rem

    hr
      margin: 1rem 0
      width: 4rem

    h3
      @extend .primary-label
      margin-bottom: 0.5rem

    span
      @extend .body-font
      display: block
      font-size: 0.75rem

    > div
      max-width: 33%
      margin: 0 auto

      @media(max-width: 750px)
        max-width: 50%

      @media(max-width: 550px)
        max-width: 100%

      img
        margin-left: 1rem
        
      div
        margin: 0 1rem 2rem 1rem

  &__thanks
    padding: 1.5rem 2rem
    text-align: center

    h3
      color: $plum
      font-size: 1.5rem

    span
      @extend .body-font
      display: block
      margin-bottom: 1rem

.rtl.about-page
  .left-column
    padding-left: 0
    padding-right: 1rem

  .right-column
    float: left

    @media(max-width: 750px)
      padding-left: 0
      padding-right: 1rem

  .subsection
    h2
      padding-left: 0
      padding-right: 1rem

  .about-page__intro
    nav
      float: left

  .about-page__members
    > div
      img
        margin-left: 0
        maright-right: 1rem
