.annotation-keyboard
  align-items: center
  display: flex
  flex-direction: column
  margin: auto

  &__row
    display: flex

  &__button
    background-color: $bisque
    border: 2px solid $plum
    color: $plum
    font-family: $work-sans
    font-size: 2rem
    font-weight: 700
    height: 3.5rem
    width: 3.5rem
    margin: 0.08rem
    padding: 0

    &:hover, &:focus
      background-color: $plum
      color: $bisque

  .enter-button
    font-size: 0.8rem
    width: 3.5rem

  .space-button
    font-size: 0.8rem
    width: 32.75rem

.char-button
  background-image: url('../images/keyboards/ashkenazi-square.jpg')
  display: inline-block

  &__active
    background-color: $plum
    border: 4px solid $plum
    color: $bisque

.quf
  background-position: -439px -255px

.resh
  background-position: -329px -255px

.alef
  background-position: -439px 1px

.tet
  background-position: -109px -63px

.vav
  background-position: -274px -63px

.nunSofit
  background-position: -384px -191px

.memSofit
  background-position: -54px -127px

.peh
  background-position: -164px -191px

.shin
  background-position: -219px -255px

.dalet
  background-position: -54px 1px

.gimmel
  background-position: -109px 1px

.khaf
  background-position: 2px -63px

.ayin
  background-position: -274px -191px

.yud
  background-position: -54px -63px

.het
  background-position: -164px -63px

.lamed
  background-position: -274px -127px

.khafSofit
  background-position: -384px -127px

.phehSofit
  background-position: -109px -191px

.zaylin
  background-position: -219px -63px

.samekh
  background-position: -329px -191px

.bet
  background-position: -219px 1px

.hey
  background-position: -439px -63px

.nun
  background-position: -439px -191px

.mem
  background-position: -164px -127px

.tsadi
  background-position: -54px -191px

.tav
  background-position: -109px -255px

.tsadiSofit
  background-position: 2px -191px

.betTwo
  background-position: -164px 1px

.pehSofit
  background-position: -109px -191px

.elongatedHey
  background-position: -329px -63px

.elongatedMemSofit
  background-position: 1px -127px

.alefLamed
  background-position: -329px 1px

.alefTwo
  background-position: -384px 1px

.heyTwo
  background-position: -384px -63px

.khafSofitTwo
  background-position: -329px -127px

.memTwo
  background-position: -109px -127px

.qufTwo
  background-position: -384px -255px

.shinTwo
  background-position: -164px -255px

.elongatedAlef
  background-position: -274px 1px

.elongatedTav
  background-position: -54px -255px

.elongatedLamed
  background-position: -219px -127px

.elongatedKhaf
  background-position: -439px -127px

.elongatedDalet
  background-position: 2px 1px

.elongatedResh
  background-position: -274px -255px

.elongatedAyin
  background-position: -219px -191px
