.app-header
  color #fff
  background black
  background-size contain

  .title
    display inline-block
    padding 0 20px

  .link
    display inline-block
    margin 10px
    padding 10px
    color #fff
    text-decoration none
    border-radius 3px

  .zooniverse-logo
    float: right
    font-size: 5em
    margin: 20px
