@import "../../node_modules/react-select/dist/react-select.css"

.search
  background: #fff

.collections-manager
  margin: 4rem 2rem 0 2rem

  hr
    margin: 1rem 0
    width: 100%

  button
    max-width: 8rem
    height: 2.1rem
    padding: 0

  &__add
    display: flex
    justify-content: space-between

    > div:first-child
      width: 17.5rem

  &__create
    display: flex
    justify-content: space-between

    input
      border: 1px solid $plum
      padding: 0.5rem
      width: 17.5rem

  &__instructions
    margin-bottom: 0.25rem

  &__error
    color: red
    display: block
    margin-bottom: 0.5rem

  &__input-div
    display: flex
    flex-direction: column
    min-height: 4rem

    button
      &:disabled
        background-image: url('../images/bg-disabled.png')
        cursor: default

    span
      @extends .primary-label
      color: $dust

    .Select
      z-index: 1

      &.is-open
        position: fixed
        width: 18.5rem

    .Select-control
      border: 1px solid $plum
      border-radius: 0

    input, .Select-placeholder
      font-family: $work-sans
      font-size: 1rem
      font-weight: normal
      letter-spacing: 0
      text-transform: none
