@import "../../node_modules/react-select/dist/react-select.css"

.search
  background: #fff

.collections-manager
  margin: 4rem 2rem 0 2rem

  hr
    margin: 1rem 0
    width: 100%

  button
    margin-left: 1rem
    max-width: 8rem
    height: 2rem
    padding: 0

  &__add
    display: flex

    button
      margin-left: auto

  &__create
    display: flex

    input
      border: 1px solid $plum
      padding-left: 0.5rem

  &__instructions
    margin-bottom: 0.25rem

  &__error
    color: red
    display: block
    margin-bottom: 0.5rem

  &__input-div
    display: flex
    flex-direction: column
    min-height: 4rem

    button
      &:disabled
        background-image: url('../images/bg-disabled.png')
        cursor: default

    span
      @extends .primary-label
      color: $dust

    .Select, input
      width: 100%

    .Select-input
      height: 2rem

    .Select
      margin-right: 1rem
      z-index: 1

      &.is-open
        width: 18.25rem
        position: fixed

    .Select-control
      border: 1px solid $plum
      border-radius: 0
      height: auto

    .Select-arrow-zone, .Select-clear-zone
      right: 0
      position: absolute

    .Select-arrow-zone
      margin: 0.5rem 0.5rem 0 0

    input, .Select-placeholder
      font-family: $work-sans
      font-size: 1rem
      font-weight: normal
      letter-spacing: 0
      text-transform: none

.round-toggle
  position: relative

  label
    border-radius: 50%
    cursor: pointer
    height: 0.5rem
    left: 0
    position: absolute
    width: 0.5rem
    top: 0.5rem

  label:after
    content: ''
    position: absolute
    top: -0.2rem
    bottom: -0.2rem
    left: -0.2rem
    right: -0.2rem
    border: 1px solid $plum
    border-radius: 50%

  input[type="checkbox"]:checked + label
    background-color: $plum

  input
    visibility: hidden

  span
    color: $plum
    display: block
    line-height: 0.5rem
    margin-left: 1rem
