.control-panel
  background-color: $bisque
  box-shadow: 0px 10px 24px -10px rgba(180,180,180,1)
  -webkit-box-shadow: 0px 10px 24px -10px rgba(180,180,180,1)
  -moz-box-shadow: 0px 10px 24px -10px rgba(180,180,180,1)
  color: $plum
  min-height: 26rem
  padding-bottom: 0 !important
  position: absolute
  top: 12%
  width: 17rem
  z-index: 1

  &__short
    height: 28rem

    &:hover, &:focus
      .control-panel
        width: 17rem

  &__side
    cursor: pointer
    width: 3rem
    overflow: hidden

    .control-panel__toggle
      margin: 1rem

    .control-panel
      right: -17rem
      top: 0

    &:hover, &:focus
      width: 9rem

      .control-panel
        border-left: 1px solid $dust
        right: -12rem

    h2
      @extend .primary-label
      color: $plum
      white-space: nowrap
      transform: rotate(-90deg)
      transform-origin: 4em 2.5em

  &__hide
    height: 28rem

  hr
    width: 4rem

  button:not(.control-panel__toggle)
    box-shadow: none
    margin: 0.25rem 0
    width: 100%

  div
    margin: 1.25rem

  &__buttons
    hr
      margin: 0.5rem 0
      width: 100%

    div
      margin: 0.5rem 0

    .control-panel__toggle
      margin: 0.5rem 0 1.75rem 0
      padding: 0

  &__info
    div
      display: flex
      flex-direction: column

    div:first-child
      span:nth-child(2)
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    div:nth-child(2)
      span
        display: block

      span:nth-child(2)
        overflow: hidden
        position: relative
        line-height: 1.2rem
        max-height: 2.4rem

      .ellipsis
        &:before
          content: '...'
          position: absolute
          bottom: 0

        &:after
          content: ''
          position: absolute
          width: 0.75rem
          height: 0.75rem
          margin-top: 0.2rem
          background: $bisque

        &__left
          &:before, &:after
            left: 0

        &__right
          &:before, &:after
            right: 0

  &__header
    display: flex
    justify-content: space-between
    height: 1.5rem
    margin-top: 0.5rem !important
    margin-bottom: 0.5rem !important

    h4
      margin-bottom: 0

  &__toggle
    background-color: transparent
    border: none
    color: $plum
    cursor: pointer
    display: block
    font-family: $work-sans
    font-weight: 600
    text-decoration: underline

  &__white-line
    border: 3px solid white
    margin: 0.75em 0

  &__rtl
    &:hover, &:focus
      .control-panel
        border-right: 1px solid $plum
        right: 4rem

      h2
        transform-origin: 10em 1em

    h2
      transform-origin: 2em 1em

  .workinprogress-timestamp
    line-height: 1.2rem
