.react-draggable
  z-index: 100

.close-button
  @extend .primary-label
  background: $bisque
  border: none
  float: right
  padding: 0.75rem

.dialog
  align-items: stretch
  background-color: $bisque
  border-top: 8px solid $sand
  box-shadow: 5px 5px 20px #888888
  display: flex
  flex-direction: column
  justify-content: center
  height: 100%
  overflow: hidden

  .plum-line
    width: 4rem

  button
    cursor: pointer

  .dialog-content
    min-height: 100%
    flex: 0 1 auto
    overflow: auto

    > div:first-child
      position: fixed
      width: 100%
      z-index: 1

    &__header
      @extend .primary-label
      display: inline-block

      h2
        font-size: 0.75rem
        margin: 0.5rem 1rem

.dialog-content::-webkit-scrollbar
  background-color: $bisque

.dialog-content::-webkit-scrollbar-thumb
  background: $plum

.step-through-controls
  text-align: center
