.react-draggable
  z-index: 100

.dialog
  @extend .div-shadow
  align-items: stretch
  background-color: $bisque
  display: flex
  flex-direction: column
  justify-content: center
  height: 100%
  overflow: visible

  .drag-bar
    background-color: $sand
    border: 0
    position: absolute
    top: 0
    width: 100%
    height: 0.5rem
    margin: 0

  .plum-line
    width: 4rem

  button
    cursor: pointer

  .dialog-content
    min-height: 100%
    flex: 0 1 auto
    overflow: auto

    &__header
      background: $bisque  //Prevent scrolling content from appearing behind the header. TODO: Perhaps a better solution is to not make this position:absolute.
      display: flex
      flex-direction: column
      left: 0
      position: fixed
      width: 100%
      z-index: 1

      div
        display: flex
        justify-content: space-between

      hr
        margin-bottom: 1rem

      h2
        @extend .primary-label
        margin: 1rem 0.5rem 0 0.5rem

.dialog-content::-webkit-scrollbar
  background-color: $bisque

.dialog-content::-webkit-scrollbar-thumb
  background: $dark-grey
  border: 4px solid transparent
  border-radius: 1rem
  background-clip: content-box

.step-through-controls
  text-align: center
