.react-draggable
  z-index: 100

.close-button
  @extend .primary-label
  background: $bisque
  border: none
  cursor: pointer
  float: right
  padding: 0.75rem

.dialog
  align-items: stretch
  background-color: $bisque
  box-shadow: 5px 5px 20px #888888
  display: flex
  flex-direction: column
  justify-content: center
  height: 100%
  overflow: hidden

  .drag-bar
    background-color: $sand
    border: 0
    position: absolute
    top: 0
    width: 100%
    height: 0.5rem
    margin: 0

  .plum-line
    width: 4rem

  button
    cursor: pointer

  .dialog-content
    min-height: 100%
    flex: 0 1 auto
    overflow: auto

    &__header
      display: flex
      flex-direction: column
      position: fixed
      width: 100%
      z-index: 1

      div
        display: flex
        justify-content: space-between

      .close-button
        background: inherit

      h2
        @extend .primary-label
        margin: 1rem 0.5rem 0 0.5rem

.dialog-content::-webkit-scrollbar
  background-color: $bisque

.dialog-content::-webkit-scrollbar-thumb
  background: $plum

.step-through-controls
  text-align: center
