.field-guide
  color: $plum
  display: flex
  flex-wrap: wrap
  height: 100%
  margin-top: 4em
  width: 100%

  button
    border: none

  div
    height: 10.5rem
    padding: 0.25em
    width: 25%

    button
      background-color: transparent
      display: flex
      flex-direction: column

    span
      @extend .primary-label
      font-size: 0.6em
      height: 4em
      max-width: 10.75em
      overflow: hidden
      padding: 0.5em
      text-align: left

  img
    border-radius: 50%
    height: 7rem
    object-fit: cover
    width: 7rem

.active-card
  margin: 4rem 0.5rem
  overflow: auto
  position: absolute

  i
    margin: 0 0.5rem

  button
    @extend .text-link
    background-color: transparent
    border: none
    font-size: 0.75rem
    margin: 0.5rem 0

  &__content
    display: flex
    padding: 0 1em
    width: 100%
    max-height: 21rem  //HACK: height to fit known size of .active-card.
    overflow: auto  //With known height, fixes issue where incredibly large Field Guide content exceeds the bounds of the .active-card element

    div
      h2
        @extend .h1-font
        font-size: 1rem
        margin: 0.5rem 0

      p
        @extend .body-font
        font-size: 0.75em

.active-card__content::-webkit-scrollbar
  background-color: $bisque

.active-card__content::-webkit-scrollbar-thumb
  background: $dark-grey
  border: 4px solid transparent
  border-radius: 1rem
  background-clip: content-box

.field-guide-flip
  .step-through-content
    direction: ltr

    > div:first-child
      display: flex
      flex-direction: row-reverse

    .field-guide
      direction: rtl

  .step-through-controls
    display: flex
    flex-direction: row-reverse
    justify-content: center

  .step-through-pips
    display: flex
    flex-direction: row-reverse
