.field-guide
  display: flex
  flex-wrap: wrap
  height: 100%
  margin-top: 3em
  width: 100%

  div
    height: 8em
    padding: 0.25em
    width: 20%

    button
      background: $dark-grey
      display: flex
      flex-direction: column
      margin: auto
      padding: 0

    span
      color: white
      font-size: 0.6em
      height: 4em
      max-width: 10.75em
      overflow: hidden
      padding: 0.5em
      text-align: left

  img
    height: 4.5em
    width: 6.5em
    object-fit: cover

.active-card
  button
    background-color: transparent
    font-size: 0.6em
    margin: 0.5em
    padding: 0.25em

  &__content
    display: flex
    padding: 0 1em

    div:first-child
      flex: 5

      h2
        font-family: $playfair-display
        font-weight: 300
        margin-bottom: 0.75em

      p
        font-family: $playfair-display
        font-size: 0.75em

    div:nth-child(2)
      flex: 2

    img
      max-height: 100%
      max-width: 100%
