.home-page
  background-color: $bisque
  padding: 0 !important

  span
    @extend .body-font
    line-height: 1.5rem

    &.block
      display: block
      padding: 0.25em 0

  a
    @extend .text-link

    &:hover, &:focus
      color: $thistle

  &__introduction
    padding: 16rem 4rem 4rem 4rem

    img:first-child
      height: 35rem
      position: absolute
      top: 0

      @media(max-width: 850px)
        height: 20rem

    img:nth-child(2)
      height: 30rem
      position: absolute
      left: 0
      top: 0

    div
      margin: 0 4rem
      max-width: 50%
      position: relative

    div:first-of-type
      max-width: 40%

    h1
      @extend .h2-font
      font-size: 3rem
      line-height: 3rem

    hr
      margin: 2rem
      text-align: left
      width: 8rem

    a
      display: block
      margin: 1rem 0

    span
      display: block
      margin-bottom: 1rem

      b
        font-weight: 700

  &__get-started
    display: flex
    flex-wrap: wrap
    padding: 4rem 6rem

    hr
      text-align: left
      width: 4rem

    > div
      flex: 1
      flex-wrap: wrap
      margin: 0 2rem 4rem 2rem
      min-width: 15rem

      > div
        margin: 0 1rem

    h2:not(.h2-font)
      align-self: center
      font-family: $belleza
      letter-spacing: 0.25em
      color: $thistle
      text-transform: uppercase
      transform: rotate(-90deg)
      transform-origin: bottom
      white-space: nowrap
      width: 4em

  &__exercises
    @extend .primary-label
    display: block
    font-family $work-sans !important
    font-size: 0.8rem !important
    font-weight: 600 !important
    letter-spacing: 0.1rem !important
    margin-top: 1rem

  &__buttons
    display: flex
    justify-content: space-between
    margin: 1.5rem 0 3rem 0

    > div
      width: 50%
      flex: 1 1 auto

      .button__dark-disabled
        cursor: default

      > button
        width: 90%
        max-width: 12rem
        padding: 0

      a
        color: $plum
        display: block

        &.button__dark-disabled
          color: white
          cursor: default
          pointer-events: none

    .body-font
      color: $warning

    button, a
      height: 2.75rem
      text-align: center
      text-decoration: none

      &:hover, &:focus
        background-color: $plum
        color: white

  &__partners
    padding: 2rem 4rem

    h2
      color: $thistle
      font-family: $belleza
      letter-spacing: 0.25em
      margin-left: 50%
      text-transform: uppercase

    div
      align-items: center
      display: flex
      justify-content: space-around
      margin: 2.5rem 0 8rem 0
      flex-wrap: wrap

      img, svg
        margin: 1.25rem

      img
        max-height: 5rem
        max-width: 14rem

  &__about
    background-color: $sand
    padding: 22rem 8rem 2rem 8rem

    @media(max-width: 850px)
      padding-top: 12rem

    span
      display: block
      margin-bottom: 1rem

    hr
      text-align: left
      width: 4rem

    h2
      margin-left: 2rem

    div
      margin-left: 4rem

    a
      cursor: pointer

  &__zooniverse
    background-color: rgba(175, 221, 223, 0.35)
    padding: 4rem 6rem
    text-align: center

    h2
      color: $plum

    svg
      color: $zooniverse-teal
      margin-bottom: 2rem

    span
      display: block
      margin: 0 10% 2rem 10%

    a
      background-color: $zooniverse-teal
      border-color: $zooniverse-teal
      color: white
      display: block
      margin: auto
      margin-bottom: 4rem

      &:hover, &:focus
        background-color: $light-teal
        border-color: $light-teal
        color: $zooniverse-teal

.offset-image
  left: 0
  margin-top: -4em
  position: absolute

  span
    @extend .primary-label
    display: inline-flex
    transform: rotate(-90deg)
    transform-origin: -0.25rem -0.5rem

    &.flipped-solomon
      transform-origin: 4rem -3.5rem

    @media(max-width: 600px)
      font-size: 0.5rem

  img
    height: 24rem

    @media(max-width: 850px)
      height: 15rem

    @media(max-width: 600px)
      height: 10rem
