html:not([lang="en"])
  direction: rtl

html
  direction: ltr

html:lang(he)
  .content-section
    span, p, h1, h2, h3, h4, h5, h6, button, a
      font-family: $rubik !important

html:lang(ar)
  .content-section
    span, p, h1, h2, h3, h4, h5, h6, button, a
      font-family: $amiri !important
