.project-header
  padding-bottom: 0 !important

  &__link
    text-decoration: none

    &:hover, &:focus
      color: $dust

  .test
    color: red

  div:first-child
    border: 20px solid white
    margin: 2em
    pointer-events: none
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 5

  ul
    background-color: white
    display: flex
    list-style: none
    float: right
    padding: 1.5em
    pointer-events: all

    li
      margin: 0 1em

    i
      margin-left: 0.5rem
