.project-header
  padding-bottom: 0 !important

  &__rtl
    flex-direction: row-reverse

  &__link
    text-decoration: none

    &:hover, &:focus
      background-color: $sand

  > div:first-child
    border: 20px solid white
    margin: 2em
    pointer-events: none
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 5

  nav
    background-color: white
    box-shadow: 0px 10px 24px -10px rgba(180,180,180,1)
    -webkit-box-shadow: 0px 10px 24px -10px rgba(180,180,180,1)
    -moz-box-shadow: 0px 10px 24px -10px rgba(180,180,180,1)
    display: flex
    float: right
    padding-right: 0.5rem
    pointer-events: all

    div
      display: flex

    a
      display: block
      padding: 1rem

  &__active
    background: $sand

  &__classify
    nav
      background-color: $bisque

    div:first-child
      border: none
      margin-top: 0

  button
    background-color: transparent
    border: 1px solid transparent
    border-radius: 50%
    cursor: pointer
    height: 1.5rem
    margin: auto
    width: 1.5rem
