.project-header
  div:first-child
    position: absolute
    margin: 2em 2em 6em 2em
    border: 20px solid white
    top: 0
    right: 0
    bottom: 0
    left: 0

  ul
    background-color: white
    display: flex
    list-style: none
    float: right
    padding: 1.5em

    li
      margin: 0 1em
