.question-prompt
  background: rgba(255, 255, 255, 0.5)
  cursor: default
  display: flex
  height: 100vh
  left: 0
  position: fixed
  top: 0
  width: 100vw
  z-index: 1000

  &__content
    background: $bisque
    box-shadow: 0px 10px 24px -10px rgba(0,0,0,0.29)
    -webkit-box-shadow: 0px 10px 24px -10px rgba(0,0,0,0.29)
    -moz-box-shadow: 0px 10px 24px -10px rgba(0,0,0,0.29)
    height: 14rem
    margin: auto
    width: 28rem

    div:last-child
      margin-top: 2rem

    div
      margin: 1rem 1.5rem

    div:not(.question-prompt__instructions)
      display: flex
      justify-content: space-between

    h2
      @extend .primary-label
      margin: 0

    hr
      margin: 0
      width: 3rem

    span
      @extend .body-font

    span:first-child
      font-weight: 600
      margin-right: 0.25rem

    button:not(.close-button)
      width: 12rem

.prompt-buttons
  margin-top: 3rem
