.selected-annotation
  padding: 1rem

  &__header
    display: flex
    justify-content: space-between
    margin-bottom: 0.5rem

    h2
      margin-bottom: 0.5rem

    .plum-line
      position: absolute
      left: 0
      margin: 0

    .close-button
      padding-top: 0

  .round-toggle
    width: 15rem

    span
      width: 14rem

  &__instructions
    @extend .body-font

    span:first-child
      font-weight: 600

    span:last-child
      margin: 0 0.25rem

  .input-box
    @extend .body-font
    border: 1px solid $plum
    direction: rtl
    font-size: 1.12rem
    font-weight: 600
    margin-top: 1rem
    min-height: 2.5rem
    padding: 0 0.5rem
    width: 100%

  &__controls
    display: flex
    justify-content: space-between

    .button
      height: 2.75rem
      margin-left: 0.75rem
      width: 11rem

      &:disabled
        background-image: url('../images/bg-disabled.png')
        cursor: default

    div:nth-child(2)
      display: flex
      flex-direction: row

    .text-link
      background: inherit
      margin-top: 0.5rem
      padding: 0

    .tmp-btn
      margin: 0.5rem 0 0 0.5rem

  hr
    margin: 1rem 0

  &__text-modifiers
    display: flex
    margin: 0.75rem 0
    justify-content: flex-end

    button
      @extend .text-link
      background: none
      border: none

  &__keyboard-div
    > div:first-of-type
      display: flex
      justify-content: space-between

    .secondary-label
      font-size: 0.75rem
      text-transform: uppercase

    .round-toggle
      margin-top: 1.25rem

  &__script-select
    .text-link, button
      font-size: 1rem
      text-transform: uppercase
      background: none
      border: none

    .text-link
      width: 14rem

  &__keyboard
    background-image: url('../images/bg-disabled-secondary.png')
    border: 1px solid black
    display: grid
    height: 16rem
    margin-top: 0.75rem
    width: 100%

.script-options
  background-color: $bisque
  border: 2px solid $plum
  flex-direction: column
  height: 15rem
  margin-left: 1rem
  overflow-y: scroll
  position: absolute

  .active-script-option
    background-color: $sand

  button
    background: none
    border: none
    display: block
    font-family: $work-sans
    font-size: 1rem
    padding: 0.2rem 0.25rem
    text-align: left
    width: 100%

    &:hover, &:focus
      background-color: $sand

.script-options::-webkit-scrollbar
  background-color: $bisque

.script-options::-webkit-scrollbar-thumb
  background: $dark-grey
  border: 4px solid transparent
  border-radius: 1rem
  background-clip: content-box
