.selected-annotation
  padding: 1rem

  &__header
    display: flex
    justify-content: space-between
    margin-bottom: 0.5rem

    h2
      margin-bottom: 0.5rem

    .plum-line
      position: absolute
      left: 0
      margin: 0

    .close-button
      padding-top: 0

  .round-toggle
    width: 14rem

    span
      width: 14rem

  &__instructions
    @extend .body-font

    span:first-child
      font-weight: 600

  .input-box
    @extend .body-font
    border: 1px solid $plum
    font-weight: 600
    margin: 1rem 0
    min-height: 2.5rem
    padding: 0 0.5rem
    width: 100%

  &__controls
    display: flex
    justify-content: space-between

    .button
      height: 2.75rem
      margin-left: 0.75rem
      width: 11rem

    div:nth-child(2)
      display: flex
      flex-direction: row

    .text-link
      background: inherit
      margin-top: 0.5rem
      padding: 0

  hr
    margin: 1rem 0

  &__keyboard-div
    > div:first-of-type
      display: flex
      justify-content: space-between

    .secondary-label
      font-size: 0.75rem
      text-transform: uppercase

  &__script-select
    span
      font-size: 0.8rem
      text-transform: uppercase

    .text-link
      background: none
      border: none
      margin: 0 0.25rem

  &__keyboard
    background-image: url('../images/bg-disabled-secondary.png')
    border: 1px solid black
    display: grid
    height: 16rem
    margin-top: 0.75rem
    width: 100%

.annotation-keyboard
  align-items: center
  display: flex
  flex-direction: column
  margin: auto

  &__row
    display: flex

  &__button
    background-color: $bisque
    border: 2px solid $plum
    color: $plum
    font-family: $work-sans
    font-size: 2rem
    font-weight: 700
    height: 3.5rem
    width: 3.5rem
    margin: 0.08rem
    padding: 0

    &:hover, &:focus
      background-color: $plum
      color: $bisque

  .enter-button
    font-size: 0.8rem
    width: 4rem

  .space-button
    font-size: 0.8rem
    width: 32.75rem

.char-button
  background-image: url('../images/keyboards/ashkenazi-square.jpg')
  display: inline-block

  &.qof
    background-position: -439px -255px

  &.resh
    background-position: -329px -255px

  &.alef
    background-position: -439px 1px

  &.tet
    background-position: -109px -63px

  &.vav
    background-position: -274px -63px

  &.nunSofit
    background-position: -384px -191px

  &.memSofit
    background-position: -54px -127px

  &.pey
    background-position: -164px -191px

  &.shin
    background-position: -219px -255px

  &.dalet
    background-position: -54px 1px

  &.gimel
    background-position: -109px 1px

  &.kaf
    background-position: 2px -63px

  &.ayin
    background-position: -274px -191px

  &.yod
    background-position: -54px -63px

  &.het
    background-position: -164px -63px

  &.lamed
    background-position: -274px -127px

  &.kafSofit
    background-position: -384px -127px

  &.peySofit
    background-position: -109px -191px

  &.zayin
    background-position: -219px -63px

  &.samech
    background-position: -329px -191px

  &.bet
    background-position: -219px 1px

  &.hey
    background-position: -439px -63px

  &.nun
    background-position: -439px -191px

  &.mem
    background-position: -164px -127px

  &.tsadi
    background-position: -54px -191px

  &.tav
    background-position: -109px -255px

  &.tsadiSofit
    background-position: 2px -191px

.script-options
  background-color: $bisque
  border: 2px solid $plum
  flex-direction: column
  margin-left: 1rem
  position: absolute

  button
    background: none
    border: none
    display: block
    font-family: $work-sans
    font-size: 0.8rem
    padding: 0.2rem 0.25rem
    text-align: left
    width: 100%

    &:hover, &:focus
      background-color: $sand
