.snippet-delete-prompt
  background: rgba(255, 255, 255, 0.5)
  cursor: default
  display: flex
  height: 100vh
  left: 0
  position: fixed
  top: 0
  width: 100vw
  z-index: 1000

  &__content
    background: $bisque
    box-shadow: 0px 10px 24px -10px rgba(180,180,180,1)
    -webkit-box-shadow: 0px 10px 24px -10px rgba(180,180,180,1)
    -moz-box-shadow: 0px 10px 24px -10px rgba(180,180,180,1)
    height: 11rem
    margin: auto
    width: 26rem

    div
      margin: 1rem 1.5rem

    div:not(.snippet-delete-prompt__instructions)
      display: flex
      justify-content: space-between

    h2
      @extend .primary-label
      margin: 0

    hr
      margin: 0
      width: 3rem

    span
      @extend .body-font

    span:first-child
      font-weight: 600

    .close-button
      padding: 0
      float: right

    button:not(.close-button)
      width: 11rem
