.text-modifier-help
  @extend .div-shadow
  background-color: $bisque
  border-top: 8px solid $sand
  max-height: 20rem
  overflow-y: auto
  position: absolute
  z-index: 1

  &:before
    border-bottom: 16px solid $sand
    border-left: 7px solid transparent
    border-right: 7px solid transparent
    content: " "
    left: 225px
    position: absolute
    top: -22px

  hr
    margin: 0

  &__content
    color: $plum
    margin: 0.75rem 1.25rem

  button
    background-color: transparent
    border: none
    text-decoration: none

  > div:first-child
    display: flex
    justify-content: space-between

  &__additional-text
    margin: 0.5rem 0

    span
      @extend .body-font
      margin-right: 0.25rem

    span:first-child
      font-weight: 700

    span:nth-child(3)
      font-style: italic
