.text-modifier-help
  @extend .div-shadow
  background-color: $bisque
  border-top: 8px solid $sand
  height: 10rem
  position: absolute
  z-index: 1

  &:before
    border-bottom: 16px solid $sand
    border-left: 7px solid transparent
    border-right: 7px solid transparent
    content: " "
    left: 225px
    position: absolute
    top: -22px

  hr
    margin: 0

  div
    color: $plum
    margin: 0.75rem 1.25rem

  button
    background-color: transparent
    border: none
    text-decoration: none

  > div:first-child
    display: flex
    justify-content: space-between
