.tutorial-container
  background: rgba(255, 255, 255, 0.5)
  cursor: default
  display: flex
  height: 100vh
  left: 0
  position: fixed
  top: 0
  width: 100vw
  z-index: 1000

.tutorial
  @extend .div-shadow
  display: flex
  flex-direction: column
  background-color: $bisque
  margin: auto
  width: 25rem
  height: 32rem

  button:not(.close-button)
    width: 10.5rem

  .close-button
    margin-top: 0
    margin-right: 0

  &__header
    border-top: 8px solid $sand
    display: flex
    justify-content: space-between
    padding: 0.5rem 1rem 1rem 1rem

    span, button:not(.close-button)
      @extend .primary-label

    span
      line-height: 2em

    button:not(.close-button)
      background: none
      border: none
      cursor: pointer
      padding: 0
      width: 1rem

  > div:last-child
    margin-top: 1rem
    display: flex
    justify-content: space-around

  .step-through-pips
    align-self: center
    display: flex
    margin: 0.5rem 0

  .step-through-pip
    width: 1.25em
    position: relative

    span
      border: 1px solid $plum
      border-radius: 50%
      color: transparent
      position: absolute
      height: 0.75em
      width: 0.75em

    span:after
      content: ''
      position: absolute
      height: 0.4rem
      left: 0.1rem
      top: 0.1rem
      width: 0.4rem
      border-radius: 50%

    input[type="radio"]:checked + span:after
      background-color: $plum

.tutorial-steps
  display: flex
  width: 100%

.tutorial-step
  @extend .body-font
  height: 22rem
  padding: 0 1rem
  overflow: auto

  &::-webkit-scrollbar, &::-webkit-scrollbar-corner
    background-color: $bisque

  &::-webkit-scrollbar-thumb
    background: $dark-grey
    border: 4px solid transparent
    border-radius: 1rem
    background-clip: content-box

  span
    @extend .body-font
    display: block

  img
    display: block
    margin: 0 auto 1rem auto
    max-height: 11rem
    max-width: 20rem
    object-fit: cover

.tutorial-flip
  .step-through-content
    direction: ltr

  .tutorial-step
    direction: rtl
