.selection-container
  background-color: $bisque
  display: flex
  flex-direction: column
  position: absolute
  top: 2.75rem
  left: 10rem
  width: 10rem
  box-shadow: 2px 2px 5px -1px rgba(180,180,180,1)
  -webkit-box-shadow: 2px 2px 5px -1px rgba(180,180,180,1)
  -moz-box-shadow: 2px 2px 5px -1px rgba(180,180,180,1)

  div
    display: flex
    flex-direction: column
