.work-in-progress-popup-container
  background: rgba(255, 255, 255, 0.5)
  cursor: default
  display: flex
  height: 100vh
  left: 0
  position: fixed
  top: 0
  width: 100vw
  z-index: 1000

.work-in-progress-popup
  @extend .div-shadow
  background-color: $bisque
  margin: auto
  padding: 0em
  width: 33.5rem
  min-height: 16rem
  display: flex
  flex-direction: column
  justify-content: center

  .pseudo-drag-bar
    background-color: $sand
    border: 0
    width: 100%
    height: 0.5rem
    margin: 0
    flex: 0 0 auto

  &__content
    padding: 1.5rem
    flex: 1 1 auto

  &__message
    @extend .body-font

  &__controls
    margin: 2rem 0 0 0
    display: flex
    justify-content: space-between

    button
      width: 14.5rem
