$plum = #472B36
$dust = #A39294
$sand = #EBDFD6
$bisque = #FEF7F1
$zooniverse-teal = #007482
$light-teal = #ADDDE0
$thistle = #C6B9B8

$merriweather = 'Merriweather', serif;
$work-sans = 'Work Sans', sans-serif;
$belleza = 'Belleza', sans-serif;
