@import "app-theme.styl"

.body-font
  color: $plum
  font-family: $merriweather
  font-weight: 300
  font-size: 0.875rem
  letter-spacing: 0
  line-height: 1.3rem

.h1-font
  color: $plum
  font-family: $merriweather
  font-weight: 700
  font-size: 1.4rem
  letter-spacing: 0
  line-height: 1.875rem

.h2-font
  color: $plum
  font-family: $work-sans
  font-weight: 600
  font-size: 1.375rem
  line-height: 1.75rem

.text-link
  color: $plum
  cursor: pointer
  font-family: $work-sans
  font-weight: 600
  text-decoration: underline

.primary-label
  color: $plum
  font-family $work-sans
  font-size: 0.75rem
  font-weight: 600
  letter-spacing: 0.05rem
  line-height: 1.2rem
  text-transform: uppercase

.secondary-label
  color: $dust
  font-family $work-sans
  font-weight: 600
  letter-spacing: 0
  line-height: 1.2rem

.tertiary-label
  color: $plum
  font-size: 0.7rem
  font-family: $work-sans
  font-weight: 600
  letter-spacing: 0
  line-height: 0.75rem
