@import "app-theme.styl"

:root
  background: $sand
  font-family: $merriweather

html, body
  margin: 0
  padding: 0

a
  color: $plum

.plum-line
  border: 3px solid $plum

.white-line
  border: 3px solid white
